#sidebar{
    width:30%auto;
    height:100%;
    margin-top:0px;
    margin-bottom:5px;
    margin-left: 15px;
    border: 3px;
    float:left;
}
#canvas{
    width:70%auto;
    height:100%;
    border:5%;
    margin:0 auto;
    float: right;
    
}
.row{
    width: 100%;
    text-align: center;
}

html, body {
    margin:5;
}